#my_canvas {
  border: 1px solid black;
  margin: 0px; }

.options {
  position: fixed;
  top: -8px;
  left: 8px; }
  .options .toggle {
    text-decoration: underline;
    color: steelblue;
    cursor: pointer;
    padding: 5px;
    width: 55px; }
  .options .config.collapsed li {
    display: none; }
  .options .config.collapsed li:first-child {
    display: inline-flex; }
  .options .config.collapsed li:nth-last-child(-n+2) {
    display: inline-flex; }
  .options .config.collapsed .characters {
    padding: 0px; }
    .options .config.collapsed .characters li {
      padding: 0px; }
      .options .config.collapsed .characters li .character {
        margin-right: 1px;
        opacity: 0.5;
        border: none; }
      .options .config.collapsed .characters li .first {
        background: green; }
      .options .config.collapsed .characters li .second {
        background: black; }
      .options .config.collapsed .characters li .third {
        background: red; }
      .options .config.collapsed .characters li .fourth {
        background: purple; }
      .options .config.collapsed .characters li .active {
        opacity: 1; }
  .options .config {
    border: 1px solid black;
    padding: 5px;
    background: white;
    margin-bottom: 5px;
    width: 140px; }
    .options .config li {
      display: block;
      list-style-type: none;
      padding: 5px;
      border-bottom: 1px dotted grey; }
      .options .config li input {
        width: 40px;
        padding-left: 2px;
        margin-left: -5px; }
      .options .config li input.submit {
        width: 70px; }
    .options .config li:last-child {
      border: none; }
    .options .config li:first-child {
      display: inline-flex; }
  .options span.green {
    color: green;
    font-weight: bold; }
  .options span.red {
    color: red;
    font-weight: bold; }
  .options .hidden {
    display: none !important; }
  .options .info {
    border: 1px solid green;
    position: fixed;
    padding: 5px;
    height: 140px;
    width: 140px; }
    .options .info ul {
      margin: 0px;
      padding: 0px; }
      .options .info ul li {
        display: block;
        padding-left: 2px; }

.character_info {
  border: 1px solid grey;
  position: fixed;
  left: 162px; }
  .character_info .hidden {
    display: none !important; }

body {
  width: 4000px;
  height: 4000px; }
