#my_canvas {
  border: 1px solid black;
  margin: 0px; }

.options {
  position: fixed;
  top: -8px;
  left: 8px; }
  .options .toggle {
    text-decoration: underline;
    color: steelblue;
    cursor: pointer;
    padding: 5px; }
  .options .config.collapsed li {
    display: none; }
  .options .config.collapsed li:last-child {
    display: inline-flex; }
  .options .config {
    border: 1px solid black;
    padding: 5px;
    background: white;
    margin-bottom: 5px;
    width: 140px; }
    .options .config li {
      display: block;
      list-style-type: none;
      padding: 5px;
      border-bottom: 1px dotted grey; }
      .options .config li input {
        width: 40px;
        padding-left: 2px; }
      .options .config li input.submit {
        width: 70px; }
    .options .config li:last-child {
      border: none; }
  .options span.green {
    color: green;
    font-weight: bold; }
  .options span.red {
    color: red;
    font-weight: bold; }
  .options .hidden {
    display: none; }
  .options .info {
    border: 1px solid green;
    position: fixed;
    padding: 5px;
    height: 140px;
    width: 140px; }
    .options .info ul {
      margin: 0px;
      padding: 0px; }
      .options .info ul li {
        display: block;
        padding-left: 2px; }

body {
  width: 4000px;
  height: 4000px; }
