#my_canvas {
  border: 1px solid black;
  margin-top: 60px;
}

.config {
  position: fixed;
  border: 1px solid black;
  padding: 5px;
  background: white;

  li{
    display: inline;
    list-style-type: none;
    padding: 5px;
    border-right: 1px dotted grey;

    input {
      width: 40px;
      padding-left: 2px;
    }
    input.submit {
      width: 70px;
    }
  }
  li:last-child {
    border: none;
  }
}
span.green{
  color: green
}
span.red{
  color: red
}
