#my_canvas {
  border: 1px solid black;
  margin: 0px;
}

.options {
  position: fixed;
  top: -8px;
  left: 8px;
  .toggle {
    text-decoration: underline;
    color: steelblue;
    cursor: pointer;
    padding: 5px
  }
  .config.collapsed {
    li {
      display:none;
    }
    li:last-child {
      display:inline-flex;
    }
  }
  .config {
    border: 1px solid black;
    padding: 5px;
    background: white;
    margin-bottom: 5px;
    width: 140px;

    li{
      display: block;
      list-style-type: none;
      padding: 5px;
      border-bottom: 1px dotted grey;

      input {
        width: 40px;
        padding-left: 2px;
      }
      input.submit {
        width: 70px;
      }
    }
    li:last-child {
      border: none;
      display:inline-flex;
    }
  }
  span.green{
    color: green;
    font-weight: bold;
  }
  span.red{
    color: red;
    font-weight: bold;
  }

  .hidden {
    display: none;
  }
  .info {
    border: 1px solid green;
    position: fixed;
    padding: 5px;
    height: 140px;
    width: 140px;
    ul {
      margin: 0px;
      padding: 0px;
      li {
        display: block;
        padding-left: 2px;
      }
    }
  }
}

body {
  width: 4000px;
  height: 4000px;
}
