%ul
  %li
    X: <%= x %> Y: <%= y %>
  %li
    Zone: <%= zone %>
  %li
    Exits: <%= exit_list() %>
  %li
    Openings: <%= empty_exits() %>
  %li
    \# placed: <%= placement_id %>
  %li
    Name: <%= name %>
  %li
    Characters: <%= character_list() %>
  
